Assignment 23

In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [12]:
def is_symmetrical(num):
    n=num
    r= 0
    while num>0:
        s = num%10
        r=(r*10)+s
        num =num//10
    if r==n:
        return True
    else:
        return False
is_symmetrical(7227)

True

In [ ]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [29]:
def multiply_nums(ch):
    m=1
    for x in ch:
        if int(ord(x))>=48 and int(ord(x))<=57:
                m=m*int(x)
        else:
            continue
    return m
    
multiply_nums("2, 3")

6

In [ ]:
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [36]:
def square_digits(num):
    s=0 
    while num>0:
        a=num%10
        if a>=4:
            s=(s*100)+(a*a)
        else:
            s=(s*10)+(a*a)
        num=num//10
    return s
square_digits(9119)

811181

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [44]:
def setify(lst):
    s= set(lst)
    a= list(s)
    b= a.sort()
    return s

setify([1, 3, 3, 5, 5])

{1, 3, 5}

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [ ]:
def mean(n):
    m=c=0
    while n>0:
        a=n%10
        m=m+a
        n//10
        c=c+1
    print (m/c)    
    
mean(42)

Assignment 24

In [ ]:
Question1
Create a function that takes an integer and returns a list from 1 to the given number, where:
1.	If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
2.	If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]
Notes
•	The given integer will always be equal to or greater than 1.
•	Include the number (see example above).
•	To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just solve the challenge any way you can.

In [3]:
def amplify(n):
    lst=[]
    for x in range(1,n):
        lst.append(x)

    if n%4==0:
        lst.append(n*10)
    return lst

amplify(4)

[1, 2, 3, 40]

In [ ]:
Question2
Create a function that takes a list of numbers and return the number that's unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
Notes
Test cases will always have exactly one unique number while all others are the same.

In [5]:
def unique(lst):
    s = list(set(lst))
    for x in s:
        c=0
        for y in lst:
            if x==y:
                c+=1
        if c==1:
            return x

unique([3, 3, 3, 7, 3, 3])

7

In [ ]:
Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).
For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.
Examples
circy = Circle(11)
circy.getArea()

# Should return 380.132711084365

circy = Circle(4.44)
circy.getPerimeter()

# Should return 27.897342763877365
Notes
Round results up to the nearest integer.

In [ ]:
Question4
Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length(["Google", "Apple", "Microsoft"])
➞ ["Apple", "Google", "Microsoft"]

sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]

sort_by_length(["Turing", "Einstein", "Jung"])
➞ ["Jung", "Turing", "Einstein"]
Notes
All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

In [13]:
def sort_by_length(lst):
    lst.sort()
    return lst

sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [ ]:
Question5
Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.


Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25

is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169

is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes
Numbers may not be given in a sorted order.

In [3]:
def is_triplet(a, b, c):
    m=min(a,b,c)
    n=max(a,b,c)
    for a1 in range (1,n+1):
        for b1 in range(a+1,n):
            for c1 in range(b+1,n+1):
                x = a1*a1
                y = b1*b1
                z=c1*c1
                if (x+y==z):
                    return False
                else:
                    return True   
    
is_triplet(3, 4, 5)

True